{% load static %}
<div class="grid items">
    {% for item in items %}
        <a class="col items-item" href="{{ item.get_absolute_url }}">
            <div class="items-item-content">
                <div class="items-item-title">
                    <div class="items-item-title-content">
                        {{ item.title | truncatechars:45 }}
                    </div>
                </div>
                {% if item.image %}
                    <img alt="has-image" class="items-item-image" src="{{ item.image.url }}">
                {% else %}
                    <img alt="no-image" class="items-item-image" src="{% static 'base/images/no-image.png' %}">
                {% endif %}
                <div class="items-item-description">
                    {{ item.description | truncatechars:70 }}
                </div>
            </div>
        </a>
    {% endfor %}
    <div class="clearfix"></div>
</div>