<!doctype html>
{% load static i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Home{% endblock %} | QuarkBlob</title>
    <link rel="stylesheet" href="{% static 'base/vendor/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'base/vendor/googlefonts/opensans/font.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
</head>
<body>
<div class="header">
    <a class="header-brand" href="{% url 'home' %}">
        <i class="header-brand-logo fas fa-futbol"></i>
        <span class="header-brand-name">Quark-Blob</span>
    </a>
    <ul class="menu">
        <li class="menu-li">
            <a class="menu-li-a {% url 'home' as home_url %} {% if request.get_full_path == home_url %} menu-li-a--active{% endif %}"
               href="{% url 'home' %}">Home</a>
        </li>
        <li class="menu-li">
             <a class="menu-li-a {% url 'add_post' as add_post_url %} {% if request.get_full_path == add_post_url %} menu-li-a--active{% endif %}" href="{% url 'add_post' %}">Add post</a>
        </li>
        <li class="menu-li">
            <a class="menu-li-a" href="">About</a>
        </li>
    </ul>
    <img onclick="toggleDropDownMenu()" class="mobile-menu toggle show-mobile" alt="menu"
         src="{% static 'base/images/hamburger.png' %}">

    <ul id="dropdown" class="dropdown">
        <li class="dropdown-li
    		   dropdown-li--active">
            <a class="dropdown-li-a" href="/">Home</a>
        </li>
        <li class="dropdown-li">
            <a class="dropdown-li-a" href="/">Add Post</a>
        </li>
        <li class="dropdown-li">
            <a class="dropdown-li-a" href="/">About</a>
        </li>
    </ul>
    <div class="header-slogan">Never Stop <strong>Learning</strong>.</div>
</div>

<div class="main {% block hidebox %}{% endblock %}">
    {% block h1 %}{% endblock %}
    {% block content %}{% endblock %}
</div>

<div class="footer"></div>
<div class="footer-bottom">
    @ {% now "Y" %} QuarkBlob. All rights reserved.
</div>
</body>
<script type="application/javascript" src="{% static 'base/js/dropdown.js' %}"></script>
</html>