form {
  label {
    font-size: 18px;
    display: block;
    padding-bottom: 0.3em;
    margin-top: 1em;
  }

  .helptext {
    display: inline-block;
    margin-top: 0.2em;
    font-style: italic;
  }

  ul {
    margin: 0;
  }

  p {
    margin: 0;
  }

  input, textarea, select {
    width: 100%;
    padding: 1em;
    border: 1px solid #E8E8E8;
  }

  textarea#id_description {
    height: 100px;
  }
}

.submit {
  display: inline-block;
  width: auto;
  background-color: #EF73C4;
  padding: 0.8em 1em;
  margin: 1em 0;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;

  &:hover {
    background-color: darken(#EF73C4, 10%)
  }
}