.items {
  &-item {
    display: block;

    &-content {
      margin: 3px;
      background-color: #fff;
      padding: 1em;
      border: 1px solid #E8E8E8;
      border-radius: 2px;
      height: 310px;
    }

    &-image {
      width: 100%;
      height: 50%;
      object-fit: contain;
    }

    &-title, &-description {
      padding: 0.5em 0;
      line-height: 1.5em;
    }

    &-title {
      font-size: 1.2em;
    }
  }
}