.tags {
  list-style: none;
  padding-left: 0;
  &-tag {
    display: inline-block;
    padding: 0.6em 0.8em;
    background-color: #3C98F5;
    color: #fff;
    margin-right: 0.5em;
    border-radius: 2px;
    &-a {
      color: #fff;
    }
    &:hover {
      background-color: darken(#3C98F5, 10%);
    }
  }
}